@charset "UTF-8";

table {
  border-collapse: collapse;
}

th, td {
  border: 1px solid #999;
  width: 40px;
  height: 40px;
  text-align: center;
}

.today {
  background-color: #ffe4e1;
  color: #d00000;
  font-weight: bold;
}